.image-list {
    display: grid;
    /* minimum 250 px and max 1fr . repeat autofill means detect automatically 
    how to fill the space*/
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
}

.image-list img {
    width: 250px;
}
